body {
	background-color: transparent;
}

/* .title { */
	/* font-size: 17px; */
	/* text-decoration: underline; */
/* } */

.generatedFindRegex {
	font-weight: 700;
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
}

.initialText {
	border: dotted 1px var(--vscode-foreground);
	font-weight: 800;
	text-align: center;
	padding: 8px;
	margin-top: 10px;
	/* font-size: 17px; */
}

button {
	margin-top: 5px;
}

.generationTools {
	visibility: hidden;
}

.labels {
	display: inline-block;
	margin: 5px;
	border: solid 1px var(--vscode-foreground);
	text-align: center;
	padding: 10px;
}

.updateText {
	margin-top: 5px;
	visibility: collapse;
}

.labels button {
	margin: 5px;
	width: auto;
}

.submenu {
	margin-top: 30px;
}

.subtitles {
	margin-bottom: 10px;
	text-decoration: underline;
}

button.validateText {
	margin-top: 5px;
}

input.validateText {
	font-size: 17px;
}

.validateLabel {
	visibility: hidden;
}

.character {
	cursor: pointer;
	color: white;
	font-size: 17px;
}

.commonLabel {
	background-color: white;
	color: black;
}

.variableLabel {
	background-color: orange;
	color: black;
}

.optionalLabel {
	background-color: green;
	/* color: black; */
}

.commonLabel:hover {
	background: lightgray;
}

.variableLabel:hover {
	background: lightcoral;
}


.optionalLabel:hover {
	background: lightgreen;
}